{{ define "main" }}
  <article class="article">
    <header class="article-header">
      <p class="eyebrow">Blog</p>
      <h1>{{ .Title }}</h1>
      <p class="article-meta">{{ .Date.Format "January 2, 2006" }}</p>
      {{ with .Params.tags }}
        <ul class="tag-list">
          {{ range . }}
            <li><a href="{{ (printf "/tags/%s/" (. | urlize)) | relURL }}">{{ . }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
    </header>
    {{ with .Params.image }}
      {{ $image := resources.Get . }}
      {{ with $image }}
        {{ $large := .Resize "900x q92" }}
        {{ $small := .Resize "600x q92" }}
        <figure class="article-figure">
          <img
            src="{{ $large.RelPermalink }}"
            srcset="{{ $small.RelPermalink }} 600w, {{ $large.RelPermalink }} 900w"
            sizes="(max-width: 760px) 100vw, 46rem"
            width="{{ $large.Width }}"
            height="{{ $large.Height }}"
            alt="{{ $.Title }}"
          />
        </figure>
      {{ end }}
    {{ end }}
    <div class="article-body">
      {{ .Content }}
    </div>
  </article>
{{ end }}
